body{
    margin: 0;
    font-family: 'Itim', cursive;
    font-size: 15px;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Indie Flower', cursive;
}

.container{
    width: 95%;
    padding: 20px;
    margin: 0px auto;
    /* border: 2px solid darkolivegreen; */
}

/* CSS Grid */

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr 1fr;
    grid-gap: 5px;
}

.characters, .items,
.char-details, .acc-stats{
    border: 2px solid black;
    padding: 10px;
}

.characters{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.items{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.char-details{
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

.acc-stats{
    grid-column: 3 / 4;
    grid-row: 1 / 3;
}

/* Footer */

.footer{
    width: 100%;
    background-color: blueviolet;
    height: 100px;
}

/* START Sign Up / LogIn */

.title h1 {
    font-family: 'Bungee Shade', cursive;
    text-align: center;
    font-size: 35px;
    margin-top: 0px;
    line-height: 42px;
	float: center;
}

/* .form-container{
    margin: 0;
    overflow: hidden;
    background-image: url("../img/fundalSite.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 90vh;
} */

.form-container { 
   	position: relative;
    margin: auto;
    margin: 0;
    overflow: hidden;
    background-image: url("../img/fundalSite.jpg");
}

.form-container .formular{
		background-color: #EA2027;
		position: relative;
		margin-top: 5%;
    	margin-bottom: 5%;
    	margin-right: 30%;
    	margin-left: 35%;
    	height: 500px;
    	width: 500px;
}

.formular .unhidden  {
	display: block;
	position: absolute;
	text-align:  center;
	font-size: 25px;
	margin-top:20%;
	float: center;
	width:500px;
	height:500px;
}

.formular .hidden{
	display: none;
}

/* END Sign Up / LogIn */

/* START Character details */

.char-details__bio__header{
    margin-bottom: 10px;
}

.char-details__bio h2{
    width: 70%;
    float: right;
    text-align: center;
}

.char-details__bio__portrait{
    width: 30%;
    float: left;
    max-width: 100px;
    max-height: 100px;
}

.char-details__bio__description{
    text-align: justify;
    font-size: 15px;
    margin: 0;
}

/* Stats */


/* Abilities */

.abilities__container{

}

.abilities__item{
    display: inline-block;
    padding: 5px 0px 0px 5px;
    height: 80px;
    width: 80px;
    border: 2px solid black;
    cursor: pointer;
}

.abilities__item img{
    max-height: 75px;
    max-width: 75px;
}


/* Items */

/* END Character details */