.dashboard-body {
    margin: 0;
    font-family: 'Itim', cursive;
    font-size: 15px;
    background-color: #1B1464;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Indie Flower', cursive;
}

.container {
    width: auto;
    padding: 20px;
    margin: 0px 0px 0px 0px;
    /* border: 2px solid darkolivegreen; */
}

.btn{
    outline: none;
    padding: 10px 10px;
    background-color: #78e08f;
    color: white;
    border: 1px solid transparent;
    border-radius: 5px;
    margin: 15px 0 15px 15px;
    transition: all 0.15s linear;
}

/* START Button styles */
.btn:hover{
    background-color: white;
    color: #78e08f;
    border: 1px solid #78e08f;
    box-shadow: 2px 2px 5px grey;
}

.btn--play{
    font-size: 28px;
    background-color: #e55039;
}

.btn--play:hover{
    background-color: white;
    color: #e55039;
    border: 1px solid #e55039;
}

.btn--danger{
    background-color: #eb2f06;
}

.btn--danger:hover{
    background-color: white;
    color: #eb2f06;
    border: 1px solid #eb2f06;
}

/* END Button Styles */

/* CSS Grid */

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: minmax(1fr, 100px);
    grid-gap: 5px;
    background-color: transparent;
}

.items,
.characters,
.char-details,
.acc__stats {
    padding: 10px;
    border-radius: 20px;
    overflow: hidden;
    background-color: #C4E538;
}

.characters {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    overflow-y: scroll;
}

.items {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    overflow-y: scroll;
}

.char-details {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

.acc__stats {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
}

/* Footer */

.footer {
    width: 100%;
    background-color: blueviolet;
    height: 100px;
}

/* START Sign Up / LogIn */

.logInBody {
    height: 100%;
    width: 100%;
    background-image: url("../img/backgroundLogin.jpg");
    overflow: hidden;
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.form-container {
    margin: auto;
    height: 100%;
    width: 60%;
    position: relative;    
}

.formular {
    top: 45%;
    width: 100%;
    height: 50%;
    position: relative;
}

.logIn {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom:0%;
    text-align: center;
    padding:.5em; 
    transition: all 1.3s ease-out;
}

.signIn {
    position: absolute;
    width: 100%;
    bottom:0%;
    height: 100%;
    text-align: center;
    transition: all 1.3s ease-out;
}

.center-bottom{
    bottom:0%;
}


.go-bottom{
    bottom:-200%;
}

.wrap__input,
.wrap__input__password {

    
    top: 35%;
    position: absolute;
    width: 35%;
    height: 20%;
    background: white;
    border: 1px solid grey;
}

.wrap__input {
    left: 15%;
    border-top-left-radius: 25px;
}

.wrap__input__password {
    border-top-right-radius: 25px;
    right: 15%;
}

.logIn__input {
    background: transparent;
    font-family: Arial;
    border: 2px;
    height: 100%;
    width: 100%;
    color: black;
    font-weight: bold;
    line-height: 1.3;
    font-size: 120%;
    position: absolute;
    text-align: left;
    outline: none;
    display: block;
    
}

.logIn--Button {
    position: absolute;
    display: block;
    color: white;
    background-color: #474665;
    top: 55%;
    font-size: 120%;
    height: 16%;
    width: 70%;
    left: 15%;
    font-weight: bold;
    border: 1px solid black;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.signIn--newUser {
    position: absolute;
    display: block;
    width: 30%;
    background-color: white;
    color: grey;
    border: 1px solid black;
    top: 71%;
    left: 35%;
    border-top:none;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    font-size: 120%;
}

.wrap__signIn__mail,
.wrap__signIn__password {
    position: absolute;
    display: block;
    width: 70%;
    height: 20%;
    background: white;
    color: black;
    border: 1px solid black;
    left: 15%;
}

.wrap__signIn__username,
.wrap__signIn__comfirmPassword {
    position: absolute;
    display: block;
    width: 70%;
    height: 20%;
    background:#474665;
    color: white;
    border: 1px solid black;
    left: 15%;
}

.signIn__input__first,
.signIn__input__second {
    font-family: Arial;
    border: 2px;
    width: 100%;
    height: 100%;
    font-weight: bold;
    line-height: 1.3;
    font-size: 120%;
    position: absolute;
    text-align: center;
    outline: none;
    display: block;
    background: transparent;
}

.signIn__input__first {
    color: black;
}

.signIn__input__second {
    color: white;
}

.wrap__signIn__mail {
    top: 0%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.wrap__signIn__username {
    top: 20%;
}

.wrap__signIn__password {
    top: 40%;
}

.wrap__signIn__comfirmPassword {
    top: 60%;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom: none;
}

.signIn__button,
.back__button {
    position: absolute;
    display: block;
    top: 80%;
    font-weight: bold;
    width: 32%;
    height: 18%;
    background: white;
    border: 1px solid grey;
    color: black;
}

.back__button {
    left: 19%;
    font-size: 20px;
    border-bottom-left-radius: 25px;
}

.signIn__button {
    left: 50%;
    font-size: 20px;
    border-bottom-right-radius: 25px;
}

/* END Sign Up / LogIn */

/* START Character details */

.char-details__bio__description,
.char-details__stats,
.char-details__abilities,
.char-details__equipped-items {
    padding: 5px;
    border: 2px solid black;
    border-radius: 20px;
    margin-bottom: 5px;
    background-color: white;
}

.char-details__bio__header {
    margin-bottom: 10px;
    font-size: 20px;
}

.char-details__bio h2 {
    width: auto;
    height: auto;
    text-align: center;
    margin: 0px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: white;
}

.char-details__bio__portrait {
    position: relative;
    max-width: 70%;
    max-height: 30%;
    left: 15%;
    border-radius: 50%;
    border: 2px solid black;
}

.char-details__bio__description {
    text-align: justify;
    font-size: 15px;
    margin: 0;
    margin-bottom: 5px;
}

/* Stats */

.char-details__stats {}

.char-details__stats h2 {
    text-align: center;
}

.char-details__stats__info {
    list-style: none;
    padding: 0;
    margin: 0 auto 20px auto;
    width: 95%;
    text-align: center;
}

.char-details__stats__info li {
    display: inline-block;
    margin-right: 20px;
}

/* Abilities */

.firstSkill__container,
.secondSkill__container,
.thirdSkill__container,
.fourthSkill__container {
    height: 100%;
    width: 20%;
    display: inline-block;
    position: relative;
}

.secondSkill__container {
    margin-left: 5%;
}

.thirdSkill__container {
    margin-left: 5%;
}

.fourthSkill__container {
    margin-left: 5%;
}

.char-details__abilities__container {
    margin: auto;
    width: 92%;
}

.char-details__abilities__item {
    position: relative;
    display: inline-block;
    padding: 5px 0px 0px 5px;
    height: 100%;
    width: 100%;
    border: 2px solid black;
    cursor: pointer;
}

.char-details__abilities_item_dropDown {
    display: none;
    top: 100%;
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 5px 0px 0px 5px;
    border: 2px solid black;
    background-color: white;
    z-index: 1;
    cursor: pointer;
}

.char-details__abilities_item_dropDown img {
    max-height: 90%;
    max-width: 90%;
}

.char-details__abilities__item img {
    max-height: 90%;
    max-width: 90%;
}

.char-details__skill_description {
    display: none;
    position: absolute;
    top: -70%;
    border-radius: 15px;
    background-color: white;
    border: 2px solid black;
}

/* End abilities */

/* Items */

.weapon__container,
.armor__container {
    height: 40%;
    width: 40%;
    display: inline-block;
    position: relative;
}

.weapon__container {
    margin-left: 5%;
}

.armor__container {
    margin-left: 5%;
}

.char-details__items__item {
    position: relative;
    display: inline-block;
    padding: 5px 0px 0px 5px;
    height: 100%;
    width: 100%;
    border: 2px solid black;
    cursor: pointer;
}

.char-details__items_item_dropDown {
    display: none;
    top: -100%;
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 5px 0px 0px 5px;
    border: 2px solid black;
    background-color: white;
    z-index: 1;
    cursor: pointer;
}

.char-details__items_item_dropDown img {
    max-height: 100%;
    max-width: 100%;
}

.char-details__items__item img {
    max-height: 100%;
    max-width: 100%;
}

.char-details__item_description {
    display: none;
    position: absolute;
    text-align: justify;
    padding: 20px;
    bottom: 100%;
    text-align:center;
    border-radius: 15px;
    background-color: white;
    border: 2px solid black;
}

/* END ITEMS details */

/* Start characters */

.characters__item {
    border: 2px solid black;
    box-sizing: border-box;
    border-radius: 15px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: 1fr;
    margin-bottom: 2px;
    background-color: white;
}

.characters__item__portrait {
    grid-column: 1 / 2;
    border-right: 2px solid black;
    min-height: 100%;
}

.characters__item__portrait img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.characters__item__details {
    grid-column: 2 / 3;
}

.characters__item__details__name {
    text-align: center;
    border-bottom: 2px solid black;
}

.characters__item__details__name h4,
.characters__item__details__faction h4 {
    margin: 0;
}

.characters__item__details__faction {
    text-align: center;
    border-top: 2px solid black;
}

.characters__item__details__description {
    padding: 5px;
}

.characters__item__details__description p {
    margin: 0;
}

/* end characters */

/*Start ITEMS*/
.items__item__container{
    display: grid;    
    margin-bottom: 2px;
    grid-template-areas:
    "a b";
}

.items__item{
    grid-area: a;
    border: 2px solid black;
    box-sizing: border-box;
    border-radius: 20px; 
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-auto-rows: 1fr;
    width: 100%;
    background-color: white;

}
.items__item__icon{
    grid-column: 1 / 2;
    border-right: 2px solid black;
    background-color: red;
    min-height: 100%;
}

.items__item__icon img{
    width: 100%;
    min-height: 100%;
    object-fit: cover;    
}

.items__item__details{
    grid-column: 2 / 3;  
}

.items__item__buy{    
    background-color: rgb(204, 204, 204);
    grid-area: b;
    display: inline-block;
    border-right: 2px solid black;    
    border-top: 2px solid black;  
    border-radius: 20px;    
}

.items__item__buy img{
    width: 25px;
    height: 25px;
}

.items__item__buy__cost{
    margin: 0;
    font-size: 20px;
    text-align: center;   
}

.items__item__buy__cost p{
    margin: 0; 
}

.items__item__buy__button{
    margin: 0;
    background-color: white;
    text-align: center;
    border: 2px solid black;
    border-radius: 20px;
}

.items__item__buy__button:hover{
    background-color: black;
    color: white;
}

/* /\ buy section */

.items__item__details__name{
    text-align: center;
    border-bottom: 2px solid black ;
}

.items__item__details__name h4{
    margin: 0;
}

.items__item__details__description{
    padding: 0px;
}

.items__item__details__description p{
    margin: 0;
}

/*End ITEMS*/

/* Account stats column */

.start__row {
    position: relative;
    font-weight: 50%;
    text-align: center;
    margin-bottom: 15px;
}

.account__stats__row {
    border: 2px solid black;
    border-radius: 20px;
    background-color: white;
    margin-bottom: 5%;
}

.acc__stats__settings input {
    float: right;
    margin-right: 12%;
    width: 40%;
}

h2 {
    text-align: center;
}

.acc-actions{
    width: 95%;
    margin: auto;
    text-align: center;
}

.account__utility__row {
    list-style: none;
    padding: 0;
    margin: 0 auto 20px auto;
}

.account__utility__logOut {
    width: 50%;
    height: 40%;
    margin-left: 30%;
}

.account__utility__logOutbutton {
    width: 100%;
    font-size: 140%;
}

.acc__stats__settings {
    position: relative;
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
    margin-bottom: 100px;
}

.acc-actions__info{
    position: relative;
    width: 90%;
    margin:auto;

}

/*END STATS*/

/* START Play */

.canvas-container{
    width: 90%;
    margin: auto;
    height: 95vh;
    border: 2px solid black;
}

#play{
    width: 100%;
    height: 100%;
}