.dashboard-body{
    margin: 0;
    font-family: 'Itim', cursive;
    font-size: 15px;
    background-color:#1B1464; 
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Indie Flower', cursive;
}

.container{
    width: auto;
    padding: 20px;
    margin: 0px 0px 0px 0px;
    /* border: 2px solid darkolivegreen; */
}

/* CSS Grid */

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: minmax(1fr, 100px);
    grid-gap: 5px;
    background-color: transparent;
}

.items, .characters,
.char-details, .acc-stats{
    padding: 10px;
    border-radius: 20px;
    overflow: hidden;
    background-color: #C4E538;
}

.characters{
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    overflow-y:scroll;
    
}

.items{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    overflow-y: scroll;
}

.char-details{
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

.acc-stats{
    grid-column: 3 / 4;
    grid-row: 1 / 3;
}

/* Footer */

.footer{
    width: 100%;
    background-color: blueviolet;
    height: 100px;
}

/* START Sign Up / LogIn */

.title h1 {
    font-family: 'Bungee Shade', cursive;
    text-align: center;
    font-size: 35px;
    margin-top: 0px;
    line-height: 42px;
	float: center;
}

/* .form-container{
    margin: 0;
    overflow: hidden;
    background-image: url("../img/fundalSite.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 90vh;
} */

.form-container { 
   	
    margin: auto;   
   width:  60%;
   position: relative;
    /* overflow: hidden; */
    border: 2px solid black;
    
}

.formular{
        top:25%;
        width: 100%;
        height: 50%;
		background-color: #EA2027;
        position: relative;
        margin: 0 auto;

        display: table;
    
}

.logIn  {
   
    
    display: block;
	text-align:  center;

	
}

.signIn{

	display: none;

}
.wrap--input , .wrap--input--password{
   
    top: 35%;
    position: absolute;
    width: 35%;
    
    height: 20%;
    background:white;
    border:1px solid grey;
 
} 
.wrap--input{
    
    left:15%;
    border-top-left-radius: 25px;

}  
 .wrap--input--password{
    border-top-right-radius: 25px;    
    display: inline;
    right: 15%;
    
}
.logIn--input {
    font-family: Arial;
    border: 2px ;
    top:40%;
    left: 10px;
    color:black;
    font-weight: bold;
    line-height: 1.3;
    font-size: 20px;
    position: absolute;
    text-align: left;
    outline:none;
    display: block;
   
}

.logIn--Button{
    position: absolute;
    display: block;
    color: white;
    background-color: black;
    top:55%;
    font-size:20px;
    height: 16%;
    width: 70%;
    left:15%;    
    font-weight: bold;
    border:1px solid black;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.signIn--newUser{
    position: absolute;
    display: block;
    width: 30%;
    background-color: white;
    color: grey;
    border:1px solid black;
    top:71%;
    left:35%;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    font-size:20px;
}

.wrap--signIn--mail,  .wrap--signIn--password{
    position: absolute;
    display: block;
    width:70%;
    height: 20%;
    background:white;
    color:black;
    border:1px solid black;
    left:15%;
}
.wrap--signIn--username, .wrap--signIn--comfirmPassword{
    position: absolute;
    display: block;
    width:70%;
    height: 20%;
    background:black;
    color:white;
    
    border:1px solid black;
   
    left:15%;
}
.signIn--input--first , .signIn--input--second{
    font-family: Arial;
    border: 2px ;
    width: 100%;
    height: 100%;  
    font-weight: bold;
    line-height: 1.3;
    font-size: 20px;
    position: absolute;
    text-align: center;
    outline:none;
    display: block;
   background: transparent;
}
.signIn--input--first{
    color:black;
}
.signIn--input--second{
    color: white;
}
.wrap--signIn--mail{
    top:0%;
   
}

.wrap--signIn--username{
    top:20%;
    
}
.wrap--signIn--password{
    top:40%;
}
.wrap--signIn--comfirmPassword{
    top:60%;
  
}
.signIn--button, .back--button{
    position: absolute;
    display: block;
    top: 80%;
    font-weight: bold;
    width: 32%;
    height: 18%;
    background:white;
    border:1px solid grey;
    color:black;
   
}
.back--button{
    left:19%;
    font-size: 20px;
    border-bottom-left-radius: 25px;
}
.signIn--button{
    left:50%;
    font-size: 20px;
    border-bottom-right-radius: 25px;
}
/* END Sign Up / LogIn */

/* START Character details */

.char-details__bio__description,
.char-details__stats,
.char-details__abilities,
.char-details__equipped-items{
    padding: 5px;
    border: 2px solid black;
    border-radius: 20px;
    margin-bottom: 5px;
    background-color: white;
}

.char-details__bio__header{
    margin-bottom: 10px;
    font-size: 20px;
}

.char-details__bio h2{
    width: auto;
    height: auto;
    text-align: center;
    margin:0px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: white;
}

.char-details__bio__portrait{
    position: relative;
    max-width: 70%;
    max-height: 30%;
    left: 15%;
    border-radius: 50%;
    border: 2px solid black;
}

.char-details__bio__description{
    text-align: justify;
    font-size: 15px;
    margin: 0;
    margin-bottom: 5px;
}

/* Stats */
.char-details__stats{
    
}
.char-details__stats h2{
    text-align: center;
}

.char-details__stats__info{
    list-style: none;
    padding: 0;
    margin: 0 auto 20px auto;
    width: 95%;
    text-align: center;
}

.char-details__stats__info li{
    display: inline-block;
    margin-right: 20px;
}

/* Abilities */

.char-details__abilities__container{
    margin: auto;
    width: 92%;
}

.char-details__abilities__item{
    display: inline-block;
    padding: 5px 0px 0px 5px;
    height: 80px;
    width: 80px;
    border: 2px solid black;
    cursor: pointer;
}

.char-details__abilities__item img{
    max-height: 75px;
    max-width: 75px;
}

/* Items */

/* END Character details */

/* Start characters */

.characters__item{
    border: 2px solid black;
    box-sizing: border-box;
    border-radius: 15px; 
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: 1fr;
    margin-bottom: 2px;
    background-color: white;

}

.characters__item__portrait{
    grid-column: 1 / 2;
    border-right: 2px solid black;
    min-height: 100%;
}

.characters__item__portrait img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.characters__item__details{
    grid-column: 2 / 3;  
}

.characters__item__details__name{
    text-align: center;
    border-bottom: 2px solid black ;
}

.characters__item__details__name h4, 
.characters__item__details__faction h4{
    margin: 0;
}

.characters__item__details__faction{
    text-align: center;
    border-top: 2px solid black ;
}

.characters__item__details__description{
    padding: 5px;
}

.characters__item__details__description p{
    margin: 0;
}

/* end characters */

/*Start ITEMS*/
.items__item{
    border: 2px solid black;
    box-sizing: border-box;
    border-radius: 15px; 
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-auto-rows: 1fr;
    margin-bottom: 2px;

}

.items__item__icon{
    grid-column: 1 / 2;
    border-right: 2px solid black;
    background-color: red;
    min-height: 100%;
}

.items__item__icon img{
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    
}

.items__item__details{
    grid-column: 2 / 3;  
}

.items__item__details__name{
    text-align: center;
    border-bottom: 2px solid black ;
}

.items__item__details__name h4{
    margin: 0;
}

.items__item__details__description{
    padding: 0px;
}

.items__item__details__description p{
    margin: 0;
}

/*End ITEMS*/

/* Account stats column */
.start--row{
    position: relative;
    height: 10%;
    width: 100%;
    font-weight: 50%;
    }
.start--row--play{
    position: absolute;
    height: 50%;
    width: 50%;
    left:25%;
    top:20%;
}
h3{
    text-align: center;
}
.account--utility--row{
  
    position: relative;

}
.account--utility--settings, .account--utility--logOut{
    width: 45%;
    position: absolute;
    
}
.account--utility--logOut{
    display: inline;
    left:50%;
}


/*END STATS*/