body {
     background-image: url("fundalSite.jpg");
   	 background-color: #cccccc;
   	 background-repeat:no-repeat;
	 background-size: 100%;
     height: 90vh;
     width: 90%;        	  
 
 }
.title h1 {
    font-family: 'Bungee Shade', cursive;
    text-align: center;
    font-size: 35px;
    margin-top: 0px;
    line-height: 42px;
	float: center;
}
.container {
    width: 90%;
   	position: relative;
    margin: auto;
    background-color: transparent;
}
.container .formular{
		background-color: #EA2027;
		position: relative;
		margin-top: 5%;
    	margin-bottom: 5%;
    	margin-right: 30%;
    	margin-left: 35%;
    	height: 500px;
    	width: 500px;
    	

}
.formular .unhidden  {
	display: block;
	position: absolute;
	text-align:  center;
	font-size: 25px;
	margin-top:20%;
	float: center;
	width:500px;
	height:500px;
}
.formular .hidden{

	display: none;

}

