<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../../webroot/css/styles.css">
        <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Itim" rel="stylesheet">
        <script src="../../webroot/js/styles.js"></script>
    </head>

    <body onload="createSocket()">
        <div class="play-container">
            <div class="timer">
                <div class="meter">
                    <span>40 secs left</span>
                    <!-- TODO fix text and width of colored bard to fit in the container at the 100% mark -->
                    <span class="color-bar" style="width:70%;"></span>
                </div>
            </div>

            <div class="game-container">
                <div class="player-container" id="player1">
                    <div class="player-card">
                        <p id="u-name" class="username">PlaceholderUserName</p>
                    </div>
                    <div class="character-container">
                        <div class="character-info">
                            <img src="../../webroot/img/char_portrait_2.jpg" alt="character-pic" />
                            <p id="c-name"class="name">PlaceholderUserName</p>
                            <p id="c-level"class="level">Level 5</p>
                        </div>

                        <ul class="character__abilities">
                            <li class="abilities__item"><img src="../../webroot/img/ability1--small.png" alt="ability1"></li>
                            <li class="abilities__item"><img src="../../webroot/img/ability2--small.png" alt="ability2"></li>
                            <li class="abilities__item"><img src="../../webroot/img/ability3--small.png" alt="ability3"></li>
                            <li class="abilities__item"><img src="../../webroot/img/ability4--small.png" alt="ability4"></li>
                        </ul>   
                    </div>
                </div>
    
                <div class="player-container right" id="player2">
                    <div class="player-card">
                        <p id="u-name" class="username">PlaceholderUserName</p>
                    </div>
                    <div class="character-container">
                        <div class="character-info">
                            <img src="../../webroot/img/char_portrait_2.jpg" alt="character-pic" />
                            <p id="c-name"class="name">PlaceholderUserName</p>
                            <p id="c-level"class="level">Level 5</p>
                        </div>

                        <ul class="character__abilities">
                            <li class="abilities__item"><img src="../../webroot/img/ability1--small.png" alt="ability1"></li>
                            <li class="abilities__item"><img src="../../webroot/img/ability2--small.png" alt="ability2"></li>
                            <li class="abilities__item"><img src="../../webroot/img/ability3--small.png" alt="ability3"></li>
                            <li class="abilities__item"><img src="../../webroot/img/ability4--small.png" alt="ability4"></li>
                        </ul>   
                    </div>
                </div>
            </div>
            <div class="log-wrapper">
                <div class="log"></div>
            </div>
            <button class="btn btn--end-turn" id="endTurn">END TURN</button>
        </div>
    </body>
</html>