<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../../webroot/css/styles.css">
        <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Itim" rel="stylesheet">
        <script src="../../webroot/js/play.js"></script>
    </head>

    <body class="play-body" onload="createSocket()">
        <div class="play-container">
            <div class="timer">
                <div class="meter">
                    <span>40 secs left</span>
                    <!-- TODO fix text and width of colored bard to fit in the container at the 100% mark -->
                    <span class="color-bar" style="width:70%;"></span>
                </div>
            </div>

            <div class="game-container">
                <div class="player-container" id="player1">
                    <div class="player-card">
                        <p id="u-name" class="username"></p>
                    </div>
                    <hr>
                    <div class="character-container">
                        <div class="character__info">
                            <img class="c-img" id="u-c-img" src="" alt="character-pic" />
                            <p id="u-c-name" class="name"></p>
                            <p class="level">Level <span id="u-c-level"></span></p>
                        </div>

                        <div class="character__stats">
                            <div class="attack">
                                <span>Attack:</span>
                                <span id="u-att-value"></span>
                            </div>
                            <div class="defense">
                                <span>Defense:</span>
                                <span id="u-def-value"></span>
                            </div>
                        </div> 

                        <div class="character__resources">
                            <div class="health">
                                <span>Health( <span id="u-health"></span> )</span><span id="health-bar" class="r-color-bar"></span>
                            </div>
                            <div class="energy">
                                <span>Energy( <span id="u-energy"></span> )</span><span id="energy-bar" class="r-color-bar"></span>
                            </div>
                        </div>
                        <hr>
                        <ul id="abilities--p1" class="character__abilities">
                            <li class="abilities__item" onclick="selectAbility(this)" data-order="first"><img class ="u-img" src="" alt="ability1"></li>
                            <li class="abilities__item" onclick="selectAbility(this)" data-order="second"><img class ="u-img" src="" alt="ability2"></li>
                            <li class="abilities__item" onclick="selectAbility(this)" data-order="third"><img class ="u-img" src="" alt="ability3"></li>
                            <li class="abilities__item" onclick="selectAbility(this)" data-order="fourth"><img class ="u-img" src="" alt="ability4"></li>
                        </ul>   
                    </div>

                    <div id="ability-error" class="resource-error">
                        <p>Not enough energy for that skill!</p>
                    </div>
                </div>
    
                <div class="player-container right" id="player2">
                    <div class="player-card">
                        <p id="o-name" class="username"></p>
                    </div>
                    <hr>
                    <div class="character-container">
                        <div class="character__info ">
                            <img class="c-img" id="o-c-img" src="" alt="character-pic" />
                            <p id="o-c-name" class="name"></p>
                            <p class="level">Level <span id="o-c-level"></span></p>
                        </div>
                        <div class="character__stats">
                            <div class="attack">
                                <span>Attack:</span>
                                <span id="o-att-value"></span>
                            </div>
                            <div class="defense">
                                <span>Defense:</span>
                                <span id="o-def-value"></span>
                            </div>
                        </div> 
                        <div class="character__resources">
                                <div class="health">
                                    <span>Health( <span id="o-health"></span> )</span><span class="r-color-bar"></span>
                                </div>
                            </div>
                        <hr>
                        <ul id="abilities--p2" class="character__abilities">
                            <li class="abilities__item"><img class="o-img" src="" alt="ability1"></li>
                            <li class="abilities__item"><img class="o-img" src="" alt="ability2"></li>
                            <li class="abilities__item"><img class="o-img" src="" alt="ability3"></li>
                            <li class="abilities__item"><img class="o-img" src="" alt="ability4"></li>
                        </ul>   
                    </div>
                </div>
            </div>
            <div class="log-wrapper">
                <div class="log"></div>
            </div>
            <button class="btn btn--end-turn" id="endTurn" onclick="buildEndOfTurnSkillsArray()">END TURN</button>
        </div>

        <script src="../../webroot/js/play.js"></script>
    </body>
</html>