<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../../webroot/css/styles.css">
        <script src="../../webroot/js/styles.js"></script>
    </head>
    <body onload="createSocket()">
        <div class="play-container">
            <div class="timer">
                <div class="meter">
                    <span style="width: 60%;"><span>Timer</span></span>
                </div>
            </div>

            <div class="game-container">
                <div class="player-container" id="player1">
                    <div class="player-card">
                        <p id="u-name" class="username">PlaceholderUserName</p>
                        <p id="u-level" class="level">Level 30</p>
                    </div>
                    <div class="character-container">
                        <div class="character-info">
                            <img src="../../webroot/img/char_portrait_2.jpg" alt="character-pic" />
                            <p id="c-name"class="name">PlaceholderUserName</p>
                            <p id="c-level"class="level">Level 5</p>
                        </div>

                        <ul class="character__abilities">
                            <li class="abilities__item"><img src="../../webroot/img/ability1--small.png" alt="ability1"></li>
                            <li class="abilities__item"><img src="../../webroot/img/ability2--small.png" alt="ability2"></li>
                            <li class="abilities__item"><img src="../../webroot/img/ability3--small.png" alt="ability3"></li>
                            <li class="abilities__item"><img src="../../webroot/img/ability4--small.png" alt="ability4"></li>
                        </ul>   
                    </div>

                    <button class="btn btn--end-turn" id="endTurn">END TURN</button>
                </div>
    
                <div class="player-container right" id="player2">
                    <div class="player-card">
                        <p id="u-name" class="username">PlaceholderUserName</p>
                        <p id="u-level" class="level">Level 30</p>
                    </div>
                    <div class="character-container">
                        <div class="character-info">
                            <img src="../../webroot/img/char_portrait_2.jpg" alt="character-pic" />
                            <p id="c-name"class="name">PlaceholderUserName</p>
                            <p id="c-level"class="level">Level 5</p>
                        </div>

                        <ul class="character__abilities">
                            <li class="abilities__item"><img src="../../webroot/img/ability1--small.png" alt="ability1"></li>
                            <li class="abilities__item"><img src="../../webroot/img/ability2--small.png" alt="ability2"></li>
                            <li class="abilities__item"><img src="../../webroot/img/ability3--small.png" alt="ability3"></li>
                            <li class="abilities__item"><img src="../../webroot/img/ability4--small.png" alt="ability4"></li>
                        </ul>   
                    </div>
                    
                    <button class="btn btn--end-turn">END TURN</button>
                </div>
            </div>
            
        </div>
    </body>
</html>